@font-face {
    font-family: 'socialfont';
    src: url('../fonts/MyFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
    color: #333333
}
a {
    color: #333333;
}
a:hover {
    text-decoration: none;
    color: #2f6ea5
}
h1 {
    font-size: 28px;
    color: #333333;
}
h2 {
    font-size: 24px;
    color: #222;
}
h3 {
    font-size: 20px;
    color: #222;
}
h4 {
    font-size: 18px;
    color: #111;
}
h5 {
    font-size: 16px;
    color: #222;
}
h6 {
    font-size: 14px;
    color: #222;
}
.top-header {
    background: #ee9e21;;
    color: #ffffff;
    display: block;
    border-bottom: 3px solid #5a6164;
    padding: 5px 0px;
}
.left-div-main {
    float: left;
    margin-top: 5px;
}
.left-div-main.navbar-nav > li:hover > a {
    background: none;
    color: #f5f5f5;
}
.header-main {
    background: #ffffff;
}
.top-header .glyphicon {
    color: #ffffff;
    font-size: 15px;
    margin: 0px 2px;
}
.order-main-div {
    font-size: 12px;
}
.top-header .social-icons .glyphicon {
    font-family: 'socialfont';
    font-size: 32px;
    line-height: 1em;
    font-weight: normal;
    color: #ffffff;
    margin: 0px 10px;
}
.glyphicon-facebook:before {
    content: "\F020";
}
.glyphicon-twiter:before {
    content: "\F021";
}
.glyphicon-in:before {
    content: "\F022";
}
.glyphicon-vimeo:before {
    content: "\F024";
}
.glyphicon.spo-icon {
    background: url(../img/spo_icon.png) no-repeat 0px;
    width: 24px;
    height: 21px;
}
.glyphicon.spo-icon.glyphicon-shopping-paym {
    background-position: -47px 0px;
}
.glyphicon.spo-icon.glyphicon-shopping-deliy {
    background-position: -104px -2px;
}
.glyphicon.spo-icon.glyphicon-shopping-closedel {
    background-position: -145px 0px;
}
.navbar-default .navbar-nav>li>a {
    color: #777777;
}
.left-div-main.navbar-nav > li > a {
    padding: 0px 0px;
    color: #ffffff;
}
.top-1-main {
    background: #2e3639;
}
.top-1-main a {
    color: #f5f5f5;
}
.top-nav .navbar-nav > li:hover > a {
    background: none;
    border: 0px;
    border-right: 1px solid #CCCCCC;
    color: #999;
}
.top-nav .navbar-nav > li > a {
    background: none;
    border: 0px;
    padding: 6px 8px;
    border-right: 1px solid #999;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400;
    font-size: 12px;
    font-weight: 400;
    text-shadow: 1px 1px 0px #2e3639;
    color: #f5f5f5;
}
.top-nav {
    padding: 0px;
}
.btn,
.btn:hover {
    color: #fff;
}
.top_header_main {
    padding: 15px 0px 0px;
    height: 80px;
}
.search_bar.input-group {
    padding-top: 8px;
    display: block;
}
.text-right-align {
    text-align: right;
    float: right;
    margin: 0px;
    padding: 0px;
    margin-top: 0px;
}
.main-shopping-table .table>tbody>tr>td {
    vertical-align: middle;
}
li #view-cart {
    padding: 10px;
    cursor: pointer
}
.btn-inverse {
    background: #2f6ea5;
    color: #fff;
}
.btn-inverse:hover {
    background: #2576bd;
    color: #f3f3f3
}
.navbar-inner {
    background: #eaebeb;
    background-repeat: no-repeat;
    border: none;
    border-top: 0px solid #d4d4d4;
    border-bottom: 3px solid #dfe0e0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.navbar-default {
    background: #e6e7e7;
    background-repeat: no-repeat;
    border: none;
    border-top: 0px solid #d4d4d4;
    border-bottom: 0px solid #dfe0e0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0px;
}
.breadcrumb >li:last-child a {
    color: #1a8cc1
}
.input-group.input-group .form-control {
    border-radius: 0
}
.shopping-bg-commer .col-md-5 {
    padding: 0px;
    padding-left: 5px;
}
.shopping-bg-commer .col-md-12 {
    padding-right: 0px;
}
.top-footer {
    background: ##f79b00;
    border-top: 2px solid #2e3639;
    padding: 0px 0px;
}
.mid-footer {
    background: #2e3639;
    padding: 10px 0px;
}
.mid-footer {
    color: #ffffff;
}
.mid-footer h1,
.mid-footer h2,
.mid-footer h3,
.mid-footer h4 {
    color: #ffffff;
}
.module-main-div {
    padding: 0px 0px;
}
.mid-footer h1 {
    font-size: 18px;
}
.new-product-lable .new-div-wapper {
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    left: 0px;
    top: 40px;
    border-radius: 0px;
    padding: 5px 12px;
    background: #e89e00
}
.offer-product-lable .offer-div-wapper {
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    right: 0px;
    top: 40px;
    border-radius: 0px;
    padding: 5px 12px;
    background: #2e3639
}
.language-div,
.currency-div {
    text-align: right;
    width: 4.4%;
    margin-left: 5px;
    color: #ffffff;
}
li#itemCompany:hover ul li a {
    background: none;
}
.social-icons {
    text-align: right
}
.marrign-left-div .dropdown-menu {
    min-width: 60px;
}
.btn-group.open .dropdown-toggle {
    color: #fff;
}
.glyphicon.spo-icon.footer-icon {
    width: 42px;
    height: 42px;
    margin-right: 3px;
}
.glyphicon.spo-icon.payment-icon {
    width: 79px;
    height: 49px;
    margin-right: 3px;
}
.glyphicon.spo-icon.glyphicon-fb-icon {
    background-position: 3px -45px;
}
.glyphicon.spo-icon.glyphicon-fb-icon:hover {
    background-position: 3px -89px;
}
.glyphicon.spo-icon.glyphicon-tw-icon:hover {
    background-position: -39px -89px;
}
.glyphicon.spo-icon.glyphicon-tw-icon {
    background-position: -38px -45px;
}
.glyphicon.spo-icon.glyphicon-v-icon {
    background-position: -80px -45px;
}
.glyphicon.spo-icon.glyphicon-v-icon:hover {
    background-position: -80px -89px;
}
.glyphicon.spo-icon.glyphicon-yu-icon {
    background-position: -123px -45px;
}
.glyphicon.spo-icon.glyphicon-yu-icon:hover {
    background-position: -123px -89px;
}
.glyphicon.spo-icon.glyphicon-p-icon {
    background-position: -165px -45px;
}
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    border-bottom: 1px solid #CCCCCC;
    border-top: 0px;
}
.glyphicon.spo-icon.glyphicon-p-icon:hover {
    background-position: -165px -89px;
}
.glyphicon.spo-icon.glyphicon-pay-icon {
    background-position: -3px -148px;
}
.glyphicon.spo-icon.glyphicon-ans-icon {
    background-position: -90px -148px;
}
.glyphicon.spo-icon.glyphicon-visa-icon {
    background-position: -181px -148px;
}
.glyphicon.spo-icon.glyphicon-miscard-icon {
    background-position: -3px -206px;
}
.glyphicon.spo-icon.glyphicon-net-bank-icon {
    background-position: -91px -205px;
}
.glyphicon.spo-icon.glyphicon-cash-and-icon {
    background-position: -181px -205px
}
.glyphicon.spo-icon.glyphicon-pay-icon:hover {
    background-position: -283px -148px;
}
.glyphicon.spo-icon.glyphicon-ans-icon:hover {
    background-position: -372px -148px;
}
.glyphicon.spo-icon.glyphicon-visa-icon:hover {
    background-position: -463px -149px;
}
.glyphicon.spo-icon.glyphicon-miscard-icon:hover {
    background-position: -282px -206px;
}
.glyphicon.spo-icon.glyphicon-cash-and-icon:hover {
    background-position: -463px -206px;
}
.glyphicon.spo-icon.glyphicon-net-bank-icon:hover {
    background-position: -375px -205px;
}
.footer {
    background: #2e3639;
    border-top: 1px solid #575f62;
    padding: 0px;
    color: #fff;
}
.checkout-id .dropdown-menu {
    left: auto;
    right: 0px;
}
.glyphicon.spo-icon.icon-list-icon {
    width: 226px;
    height: 31px
}
.glyphicon.spo-icon.icon-list-icon.glyphicon-free-shipping-icon {
    background-position: -238px -1px;
}
.poweed_by_main {
    color: #fff;
}
.content-module {
    text-align: justify
}
.poweed_by_main a:hover {
    text-decoration: none;
    color: #ccc;
}
.glyphicon.spo-icon.poweed_by_main-iconn {
    width: 70px;
    height: 25px;
    background-position: -251px -51px;
}
.pull-left.copyright {
    margin-top: 10px;
}
.main-menu.navbar-nav>li>.dropdown-menu {
    max-width: 1078px;
}
.full-width li {
    float: left;
    min-width: 244px;
}
a:focus {
    background: none;
}
div.left-wrapper {
    padding-left: 0px;
}
.left-wrapper .col-md-12 {
    padding-right: 0px;
}
div.right-wrapper {
    padding-right: 0px;
}
.module-main-div img {
    width: 100%;
}
.accordion-body {
    overflow-y: scroll;
    max-height: 160px;
    margin-bottom: 15px;
}
.mid-footer .box-footer:first-child {
    padding-left: 0px;
}
.mid-footer .box-footer:last-child {
    padding-right: 0px;
}
.mid-footer .box-footer .row {
    margin: 0px;
}
.center-wrapper {
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
    margin-bottom: 15px;
}
.mid-footer .box-footer {
    margin-right: 0px;
    padding-right: 0px;
}
.mid-footer .box-footer .col-md-12 {
    margin: 0px;
    padding: 0px;
}
.navbar-nav>li > ul.submenu-div {
    display: none
}
.navbar-nav>li:hover > ul.submenu-div {
    display: block;
}
li .product-container:hover .box-white-product-lable,
li .product-container:hover .box-white-quck-lable {
    display: block;
}
.product-image-container:hover .box-white-quck-lable {
    display: block;
}
.product-image-container {
    text-align: center;
    margin: auto;
    border: 1px solid #d6d4d4;
    margin-bottom: 1px;
    position: relative;
    padding: 0px;
}
.product-latest-module ul {
    margin-left: 0px;
    padding-left: 0px;
}
.product-module-wapper ul {
    padding: 0px;
    margin-left: 0px;
}
.mslider-right {
    padding-right: 0px;
}
.slider-div-main ul {
    margin: 0px;
    padding: 0px;
}
.product-detailes-main .slider-div-main ul li {
    padding: 1px;
    border: 1px solid #CCCCCC;
    margin: 0px 0px 10px;
}
#prod-image {
    overflow: hidden;
}
.module-content ul {
    margin-left: 0px;
    padding-left: 0px;
}
.container-main {
    margin-bottom: 12px;
}
li:hover .product-list-lable {
    display: block;
}
li.product-main-container {
    list-style: none;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.product-del-box h1,
.product-del-box h2 {
    font-size: 13px;
    text-align: center;
    font-weight: bold;
}
.price-div {
    font-size: 16px;
    color: #333333;
    text-align: center;
}
.product-del-box {
    padding-top: 10px;
    width: 65%;
}
.guest-div-checkout label {
    font-weight: normal;
}
.guest-div-checkout span.error {
    color: red
}
.module-content .product-del-box {
    margin: 0px auto;
}
.price-div .price-new,
.price-div .price-old {
    margin: 0px 5px;
}
.price-div .price-old {
    text-decoration: line-through;
    font-size: 16px;
}
.price-div .price-new {
    color: #0066CC
}
.addtocart-div {
    text-align: center;
}
.checkout-main-center {
    float: none;
    display: block;
    margin: 0px auto;
    font-size: 13px;
}
.chackout-div-Billing {
    border-top: 1px solid #CCC;
    background: #F3F3F3;
    padding-top: 15px;
    padding-bottom: 15px;
}
.box-white-product-lable {
    position: absolute;
    top: 32%;
    display: none;
    left: 0px;
    width: 100%;
    padding: 8px 0px;
    background: #fff;
    border: 1px solid #F0F0F0;
}
.price-input-box input {
    padding: 5px;
    margin-right: 5px;
}
.price-input-box span.price-input {
    width: 32%;
    display: block;
    float: left;
}
.price-input-box span.price-arrow {
    width: auto;
    display: block;
    margin-right: 8px;
    margin-top: 5px;
    margin-left: 3px;
    float: left;
}
.price-input-box input:last-child {
    margin-right: 0px;
}
.price-input-box {
    padding-bottom: 10px;
    margin-bottom: 8px;
}
.btn-main-left-padding {
    padding: 0px;
    margin-left: 5px;
}
.detalls-divs,
.wishlist-divs {
    margin-bottom: 0px;
}
.main-body-wrappers {
    padding-top: 0px;
    padding-bottom: 10px;
}
.detalls-divs a.btn,
.wishlist-divs a.btn,
.box-white-quck-lable a.btn {
    color: #333333;
}
.box-white-quck-lable {
    color: #777676;
    position: absolute;
    left: 50%;
    top: 62%;
    margin: -11px 0 0 -53px;
    padding: 0 0;
    background: rgba(255, 255, 255, 0.82);
    width: 107px;
    height: 36px;
    text-align: center;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
    display: none;
    border: 1px solid #CCCCCC;
}
.main-body .sp-os {
    margin-bottom: 10px;
}
.news-letter-box h1 {
    font-size: 18px;
}
.guest-div-checkout .row {
    margin-bottom: 6px;
}
.news-letter-box {
    width: 100%;
    padding: 12px;
    background: #dcd5c7;
    border: 1px solid #CCCCCC;
    border-radius: 6px;
}
.contact-us-module-wapper .glyphicon {
    font-size: 18px;
    margin-right: 5px;
}
.animate-container {
    border-bottom: 3px solid #c5c5c5;
    padding-bottom: 10px;
}
.animate-container:hover {
    background: #e1d9d4;
}
.animate-container:hover .animate-div-wapper {
    display: block;
    position: absolute;
    width: 90%;
}
.animate-ul li {
    list-style: none;
    padding: 3px 10px;
    margin: 0px;
    display: block;
}
.animate-div-wapper ul {
    min-height: 180px;
    width: 100%;
    background: #e1d9d4;
    padding-top: 10px;
}
.animate-div-wapper ul li a {
    margin-bottom: 4px;
}
.animate-div-wapper ul li a span.label {
    font-size: 13px;
    font-weight: normal;
    color: #222;
}
.animate-div-wapper {
    display: none;
    z-index: 9;
    padding-top: 13px;
}
.animate-ul li span.glyphicon {
    font-size: 12px;
}
.animate-ul li.read-more-div {
    float: right;
    color: #FF3300
}
.animate-ul li.read-more-div span.glyphicon,
.animate-ul li.read-more-div a {
    float: right;
}
.animate-div-wapper ul li.read-more-div a span.label {
    color: #FF3300
}
.view-all-div {
    text-align: center;
}
.view-all-div .btn-inverse {
    background: none;
    color: #d6500d;
    text-align: center;
    padding: 0px;
}
.input-group-btn:last-child>.btn {
    border-radius: 0;
}
.input-group-btn {
    float: right;
}
.input-group-btn {
    width: 0px;
}
.news-letter-text {
    padding-left: 0px;
    padding-right: 0px;
}
.filter-heading h1 {
    font-size: 16px;
    color: #3c3c3c;
    border-bottom: 3px solid #333333;
    background: #f5f5f5;
    padding: 8px 10px
}
ul.filter-list {
    padding: 0px;
    margin: 0px;
    padding-left: 10px;
    margin-bottom: 10px;
}
ul.filter-list li {
    list-style: none;
    padding: 0px;
    margin-bottom: 4px;
}
.colors-filter-div {
    padding: 5px;
    border: 1px solid #CCCCCC;
    display: block;
    width: 8px;
    height: 8px;
    display: inline-block
}
#scrollbar1 {
    width: 100%;
    margin: 0px auto 0px;
    position: relative;
}
#scrollbar1 .viewport {
    min-height: 300px;
    overflow: hidden;
    position: relative;
}
#scrollbar1 .overview {
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 10px;
}
#scrollbar1 .scrollbar {
    background: transparent url(images/bg-scrollbar-track-y.png) no-repeat 0 0;
    position: absolute;
    background-position: 0 0;
    right: -20px;
    top: 0;
    width: 15px;
}
#scrollbar1 .track {
    background: transparent url(images/bg-scrollbar-trackend-y.png) no-repeat 0 100%;
    height: 100%;
    width: 13px;
    position: relative;
    padding: 0 1px;
}
#scrollbar1 .thumb {
    background: transparent url(images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%;
    height: 20px;
    width: 25px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -5px;
}
#scrollbar1 .thumb .end {
    background: transparent url(images/bg-scrollbar-thumb-y.png) no-repeat 50% 0;
    overflow: hidden;
    height: 5px;
    width: 25px;
}
#scrollbar1 .disable {
    display: none;
}
.noSelect {
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
.main-menu li ul.submenu-div {
    position: absolute;
    /* left: 0;   match top ul list item height */

    z-index: 99;
    padding: 22px 14px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 13px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 13px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 13px;
    background: #ffffff;
}
.main-menu li ul.submenu-div li {
    min-width: 160px;
    padding: 2px 10px;
    max-width: 240px;
    display: inline-block;
    vertical-align: top;
}
.main-menu li ul.submenu-div li ul li {
    display: block
}
.main-menu li:hover a:hover,
.main-menu li:hover a {
    background: #fff;
}
.main-menu li ul.submenu-div li ul li a,
.main-menu li ul.submenu-div li a {
    font-weight: bold;
    color: #222222;
}
.main-menu li ul.submenu-div li ul li a {
    font-weight: normal;
}
.main-menu li ul.submenu-div ul {
    padding-left: 4px;
}
.main-menu li ul.submenu-div li a:hover {
    color: #428bca
}
.nav-collapse {
    position: relative;
}
.modal-header h4 {
    margin-bottom: 0px;
}
.min-div {
    padding: 1px 12px;
    font-size: 20px;
    background: #333333;
    border: 1px solid #222;
    margin-top: -3px;
}
.news-letter-text .ui-autocomplete-input {
    width: 98%;
    margin-bottom: 10px;
}
.ui-autocomplete-input {
    width: 22%;
    padding: 4px 5px;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    margin-bottom: 5px;
}
.left-cart-div,
.midle-cart-div {
    border-right: 1px solid #e8e8e8;
}
.right-cart-div {
    line-height: 34px;
    text-align: right;
    font-size: 18px;
}
.bg-color-div {
    background: #f3f3f3;
    border-right: 1px solid #e8e8e8;
}
.table-instal {
    display: table;
    width: 100%;
}
.shopping-cart-div {
    margin: 10px 0px;
}
.table-instal {
    border-top: 3px solid #e1e1e1;
}
.shopping-bg-commer {
    padding: 9px;
}
.bg-color-div .col-md-8 {
    padding: 0px;
}
.no-stock-main-div {
    margin-bottom: 10px;
}
.top-1-main .header-main {
    background: none;
}
.product-code-div {
    font-size: 14px;
    color: #999;
    font-weight: bold;
}
.stock-main-div .stock-div {
    margin-right: 5px;
    ;
}
.stock-main-div .stock-div .label,
.no-stock-main-div .label,
.label-danger .stock-warning .label {
    font-size: 14px;
    font-weight: normal
}
.stock-main-div {
    margin-bottom: 10px;
    font-weight: bold;
}
.categorie-products .stock-main-div {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 65%;
    background: rgba(255, 255, 255, 0.32);
    z-index: 0;
}
.products-gridview .stock-main-div .stock-div {
    margin-right: 5px;
    position: absolute;
    top: 25%;
    left: 25%;
}
.categorie-products .stock-main-div .stock-div .label.label-danger {
    font-size: 16px;
    padding: 12px 25px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
}
.categorie-products .rating-div {
    position: absolute;
    bottom: 26%;
    right: -1%;
}
.product-main-container .rating-div {
    text-align: center
}
.products-list-products .product-main-container .rating-div {
    text-align: left
}
.categorie-products .products-list-products .stock-main-div {
    left: -43%;
    top: 64%;
}
.categorie-products .products-list-products .rating-div {
    position: relative;
}
.btn-group .btn {
    margin-right: 5px;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled false);
    border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    padding: 0px;
}
.product-like-these {
    margin-top: 15px;
}
.product-input-text-boxs {
    padding: 0px;
}
.btn-group .btn a {
    padding: 6px 10px;
    display: block;
}
.main-shopping-table .ui-autocomplete-input,
.main-shopping-table .ui-buttonset {
    display: inline-block;
}
.signup-div {
    width: 38%;
    margin: auto;
    display: block;
}
.brand-name {
    font-size: 22px;
    color: #1a8cc1;
    margin-bottom: 15px;
}
.name-div,
.available-div,
.rating-div,
.Reviews-cm-div,
.stock-warning {
    margin-bottom: 15px;
}
.Reviews-cm-div {
    line-height: 28px;
}
.btn-group .btn:hover {
    margin-right: 5px;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #e6e6e6, #ffffff);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #e6e6e6, #ffffff);
    background-image: -o-linear-gradient(top, #e6e6e6, #ffffff);
    background-image: linear-gradient(to bottom, #e6e6e6, #ffffff);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffe6e6e6', endColorstr='#ffffffff', GradientType=0);
}
.size-div-window {
    padding-top: 15px;
    padding-bottom: 20px;
}
.brand-img {
    margin-left: 10px;
}
.allreviews-div {
    margin-right: 10px;
}
.picer-div-window {
    padding-top: 15px;
    background: rgb(223, 223, 223);
    /* Old browsers */

    background: -moz-linear-gradient(top, rgba(223, 223, 223, 1) 0%, rgba(251, 251, 251, 1) 12%, rgba(251, 251, 251, 1) 100%);
    /* FF3.6+ */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(223, 223, 223, 1)), color-stop(12%, rgba(251, 251, 251, 1)), color-stop(100%, rgba(251, 251, 251, 1)));
    /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(top, rgba(223, 223, 223, 1) 0%, rgba(251, 251, 251, 1) 12%, rgba(251, 251, 251, 1) 100%);
    /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(top, rgba(223, 223, 223, 1) 0%, rgba(251, 251, 251, 1) 12%, rgba(251, 251, 251, 1) 100%);
    /* Opera 11.10+ */

    background: -ms-linear-gradient(top, rgba(223, 223, 223, 1) 0%, rgba(251, 251, 251, 1) 12%, rgba(251, 251, 251, 1) 100%);
    /* IE10+ */

    background: linear-gradient(to bottom, rgba(223, 223, 223, 1) 0%, rgba(251, 251, 251, 1) 12%, rgba(251, 251, 251, 1) 100%);
    /* W3C */

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf', endColorstr='#fbfbfb', GradientType=0);
    /* IE6-9 */
}
.modal.fade.in .price-div {
    padding: 5px 10px;
    text-align: left;
    margin-bottom: 10px;
}
.categort-position {
    position: relative;
}
.detales-div,
.stock-main-div {
    margin-bottom: 22px;
}
.new-price-div {
    font-size: 25px;
    color: #00a0e2;
}
.old-price-div {
    color: #666666;
    font-size: 14px;
}
.addtocart-div-close {
    margin-top: 20px;
    margin-bottom: 20px;
}
.addtocart-div-close .addtocart-div {
    text-align: left
}
.addtocart-div-close .addtocart-div .btn-inverse {
    padding: 10px 20px;
    font-size: 18px;
}
.quantity-divs {
    margin-bottom: 20px;
    margin-top: 15px;
}
.color-divs {
    width: 100%;
    margin-bottom: 10px;
    display: none;
}
.color-divs ul {
    margin: 0px;
    padding: 0px;
}
.color-divs ul li {
    margin-right: 5px;
    padding: 2px;
    display: inline-block;
}
.color-divs ul li a {
    padding: 12px 12px;
    display: block;
    border: 1px solid #CCCCCC;
}
.color-div {
    margin-bottom: 10px;
}
.delct-div-mian {
    display: none;
}
.products-list-products .delct-div-mian {
    display: block;
}
.products-list-products .main-review-div {
    background: none;
    border: 0px;
}
.products-list-products .write-a-review {
    display: block;
    margin-bottom: 9px;
    width: 100%
}
.products-list-products .add-to-my-wishlist {
    margin-left: 0px;
    width: 100%
}
.products-list-products li {
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.img-blouse img {
    width: 100%
}
.addtocart-div-close . {
    padding: 9px 20px;
    font-size: 18px;
}
h3.quantity-div {
    float: left;
    margin-right: 6px;
    margin-top: 6px;
}
.close {
    position: absolute;
    right: -16px;
    border-radius: 4px;
    opacity: .8;
    top: -14px;
    background: url(../img/closebox.png) no-repeat top;
    width: 30px;
    height: 30px;
    z-index: 999;
    text-shadow: 0 0px 0 #FFF;
    overflow: hidden;
    text-indent: 99px;
}
.close.close-btn {
    margin: 0px;
    right: -0px;
    top: -5px;
    z-index: 9
}
.close.compare-close {
    right: -4px;
    border-radius: 4px;
    opacity: .8;
    top: -10px;
}
.share-number .label {
    padding: 8px 10px;
    font-size: 18px;
    display: block;
    float: left;
    margin-right: 10px;
    font-weight: normal;
}
.viewmore-div {
    margin-top: 10px;
}
.carousel-control.left,
.carousel-control.right {
    vertical-align: middle;
    font-size: ;
    text-align: left;
    background: url(../img/arrow-right.png) no-repeat center left;
    text-indent: 999999px;
    overflow: hidden;
}
.carousel-control {
    width: 3%;
}
.carousel-control.right {
    text-align: right;
    background: url(../img/arrow-left.png) no-repeat center right;
}
.carousel-control.right {
    text-align: right;
}
.viewmore-div .label {
    font-size: 15px;
    font-weight: normal;
    padding: 5px 10px;
    margin-top: 10px;
    display: block;
    margin-right: 10px;
}
.carousel-caption h4 {
    font-size: 58px;
    font-weight: bold;
    color: #fff;
}
.carousel-caption {
    left: 67px;
    text-align: left;
    top: 65px
}
.carousel-caption p {
    font-size: 16px;
    color: #fff;
}
div.exposureControls {
    display: none;
}
.space-box {
    padding: 0px;
    margin-bottom: 10px;
}
.available-div-img {
    border: 1px solid #CCCCCC;
    margin-right: 5px;
}
.space-box .col-md-6 {
    padding-left: 0px;
}
.space-box .col-md-6:last-child {
    padding-right: 0px;
}
/*cartnex_zoom_frame*/

.list-products {
    margin-bottom: 10px;
}
.color-div .colors-filter-div {
    width: 20px;
    height: 20px;
}
#spornzo_zoom_frame {
    width: 450px;
    height: 450px;
    background: #FFF;
    color: #333;
    position: absolute;
    overflow: hidden;
    line-height: 300px;
    border: 3px solid #0999cf;
    text-align: center;
}
a.zoomable .zoom-cursor {
    display: none;
    position: absolute
}
a.zoomable {
    cursor: crosshair
}
a.magnifiable .zoom-cursor:after {
    content: "Click to magnify";
    border: 0px solid #fff;
    font-size: 11px;
    background-color: ;
    line-height: 18px;
    color: #fff;
    display: block;
    width: 100px;
    text-align: center;
    margin-left: -106px;
    margin-top: -24px
}
a.magnified .zoom-cursor:after {
    content: "";
    width: 80px;
    height: 80px;
    background-color: #FFF;
    margin-left: -40px;
    margin-top: -40px;
    border: 2px dotted #0999cf;
    opacity: .6;
    border-radius: 100%;
    -khtml-border-radius: 0
}
.customers-module-wapper {
    margin-top: 10px;
}
.customers-module-wapper .product-del-box h1 {
    font-size: 12px;
}
.bootstrap-widget-header h3 {
    top: 8px;
}
.bootstrap-widget-header .bootstrap-toolbar > .btn-group > .btn {
    padding: 5px;
}
.customers-module-wapper .price-div {
    font-size: 14px;
}
.customers-module-wapper .price-div .price-old {
    font-size: 12px;
}
.customers-main-container {
    padding: 0px;
    margin-top: 10px;
}
.details-mail {
    padding: 25px 0px;
}
.remove-div-cart i {
    font-size: 19px;
    margin-left: 15px;
}
.product-list-div {
    display: inline-block;
    margin-right: 9px;
    min-width: 50px;
}
.cart-main-show-cart .glyphicon.glyphicon-shopping-cart {
    background: url(../img/cart-icon-img.png) no-repeat;
    width: 47px;
    height: 35px;
    vertical-align: middle;
}
ul#cart_drop {
    margin-bottom: 0px;
}
#cart_drop li:hover .cart-main-div {
    color: #333;
}
#cart_drop li:hover .drop-don-div-main {
    display: block;
}
#cart_drop li:hover .glyphicon.glyphicon-chevron-down:before {
    content: "\e113";
}
#cart_drop li:hover .cart-main-show-cart .glyphicon.glyphicon-shopping-cart {
    background-position: -53px 0px;
}
#cart_drop li .glyphicon-shopping-cart:before {
    content: none;
}
.cart-main-show-cart {
    position: relative;
    display: inline-block;
}
.cart-main-div {
    position: absolute;
    left: 18px;
    top: 2px;
    color: #fff;
    width: 30px;
    text-align: center;
}
.price-div-cart {
    font-size: 18px;
    color: #666666;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}
.main-show-cart .glyphicon {
    font-size: 32px;
}
.price-div-cart .glyphicon {
    font-size: 12px;
    margin-left: 6px;
}
#cart_drop li:hover #view-cart {
    background: #555;
}
#cart_drop li:hover #view-cart .price-div-cart {
    color: #fff;
}
.img-blouse ul,
.img-blouse ul li {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.style-div ul.pin-bring li {
    padding: 1px;
    border: 1px solid #CCCCCC;
    padding: 2px;
    margin-bottom: 2px;
}
.quick-view-div .product-details {
    padding-top: 15px;
    padding: 20px 20px 60px 0px;
    width: 27.5%;
    margin-bottom: 0;
    min-height: 583px;
    height: 100%;
    overflow-y: auto
}
.order-list-div {
    display: block;
    position: relative;
    padding: 0em;
    margin: 0em;
    margin-bottom: 15px;
}
.order-list-div .bootstrap-widget-content {
    padding: 0px
}
.order-list-div:before,
.order-list-div:after {
    -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    position: absolute;
    left: 10px;
    bottom: 15px;
    z-index: -1;
    width: 50%;
    max-width: 300px;
    height: 20%;
    content: "";
}
.product-code-div {
    margin-bottom: 15px;
}
.order-list-div:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    right: 10px;
    left: auto;
}
.heading-product .btn-group {
    float: right;
    margin-top: -10px;
}
.table.form-design-main input[type="radio"],
.table.form-design-main input[type="checkbox"] {
    width: auto;
}
.address-top-line {
    padding-top: 10px;
    border-top: 1px solid #CCCCCC;
    margin: 0px -10px;
}
.table.form-design-main>tbody>tr>td {
    padding: 4px;
    border: 0px;
    position: relative;
}
/*spornzo_zoom_frame*/

.panel {
    float: left;
    position: relative;
    padding: 0px 0px;
    margin-bottom: 10px;
}
.panel ul#images li {
    margin-bottom: 0px;
}
ul.exposureThumbs {
    background: ;
    border: 0px solid #111;
    border-right: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
ul.exposureThumbs li {
    margin: 0 0 0px 0;
    padding: 0;
    text-align: center;
    display: none;
    border: 1px solid #CCCCCC;
    margin-bottom: 10px;
    padding-bottom: 0px
}
ul.exposureThumbs li img {
    cursor: pointer;
}
ul.exposureThumbs li.last {
    margin: 0;
}
.exposureTarget {
    backgroun d-color: ;
    overflow: hidden;
    width: 87%!important;
    height: 400px!important;
    background-image: url(res/loader.gif);
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    position: relative;
    overflow: ;
}
.exposureWrapper {
    position: absolute;
    top: 0;
    left: 0;
}
.exposureWrapper img {
    cursor: pointer;
}
.exposureData {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2000px;
    height: 60px;
    padding: 7px;
    background-image: url(res/veil.png);
    color: #fff;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: none;
}
.login-div-mains {
    padding: 0px;
}
/* In this demo we are using thumbs with fixed size */

ul.exposureThumbs li {
    width: 56px;
    border: 2px solid #CCCCCC
}
.exposureControls span,
.exposureControls a {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 10px;
    padding: 3px 6px;
    background-color: #555;
    display: block;
    float: left;
}
.exposureControls a.exposureNextPage {
    bottom: 0px;
    top: auto
}
.exposureControls a {
    color: #ccc;
    text-decoration: none;
    outline: none;
    position: absolute;
    top: 0px;
    left: 15px;
}
.exposureControls a:active,
.exposureControls a:hover {
    background-color: #444;
    color: #ddd;
}
.exposurePaging .active {
    color: #fff;
    background-color: #111;
}
.clear {
    clear: both;
}
p.info {
    margin: 40px auto;
    text-align: center;
    width: 600px;
}
p.info a {
    color: #006fc0;
}
p.info a:hover,
p.info a:active {
    color: #0084e7;
}
.breadcrumb {
    margin-bottom: 10px;
    background: #FBFBFB;
}
.order-now-div {
    width: 11.066667%
}
.exposurePaging {
    display: none;
}
.right-detalies {
    padding-bottom: 20px;
    height: 100%;
}
.price-offer {
    background: #10b627;
    padding: 2px 5px;
    margin-top: 5px;
    color: #fff;
    font-size: 16px;
}
.sort-by-div {
    padding-right: 0px;
    margin-top: 9px;
}
.sorts-by-div {
    padding-left: 0px;
    padding-right: 0px;
}
.product-input-text-boxs .product-input-text-box {
    margin-right: 2px;
}
.right-detalies h4.tital-h4 {
    background: #ebebeb;
    border-bottom: 1px solid #CCCCCC;
    margin: 0px;
    padding: 9px 0px;
}
.addto {
    margin-right: 5px;
}
.Addbtns-div {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 12px;
    margin-top: 10px;
    padding: 6px;
}
.addto.addtocopare {
    margin-right: 5px;
}
.addto.addtocopare span.glyphicon {
    margin-right: 5px;
}
.modal-body .col-md-5,
.modal-body .col-md-4 {
    padding-right: 0px;
}
.prient-email-icons {
    color: #666666;
    font-size: 18px;
}
.categories-banner {
    margin-bottom: 15px;
}
.accordion-heading {
    position: relative
}
a.accordion-toggle.collapsed .glyphicon-minus.left-icon {
    display: none
}
a.accordion-toggle .left-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    font-size: 13px;
}
a.accordion-toggle.collapsed .glyphicon-plus.left-icon {
    display: block
}
a.accordion-toggle .glyphicon-plus.left-icon {
    display: none;
}
.heading-box h2 {
    font-size: 18px;
    border-bottom: 3px solid #333333;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 8px;
}
.boxs-footer .heading-box h2 {
    border: 0px;
}
.register-div-main .col-md-4 {
    padding: 5px 10px;
    text-align: left;
}
.navgasan-bar .btn-group .btn {
    margin-right: 0px;
}
.register-div-main .col-md-12 {
    margin-bottom: 6px;
}
a.terms-links {
    text-decoration: underline;
    color: #06C
}
a.terms-links:hover {
    text-decoration: none;
}
#review_report {
    padding-left: 0px;
}
.register-div-main .col-md-4,
.register-div-main .col-md-12,
.register-div-main .col-md-6 {
    padding: 0px;
}
.navgasan-bar .btn-group .btn:hover {
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #e6e6e6, #ffffff);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #e6e6e6, #ffffff);
    background-image: -o-linear-gradient(top, #e6e6e6, #ffffff);
    background-image: linear-gradient(to bottom, #e6e6e6, #ffffff);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffe6e6e6', endColorstr='#ffffffff', GradientType=0);
    border-color: #bfbfbf #bfbfbf #e6e6e6;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled false);
}
.fliter-bar-div {
    margin-bottom: 6px;
    padding-bottom: 6px;
}
.main-review-div {
    padding: 3px;
    background: #eeeeee;
    border: 1px solid #e3e3e3;
}
.fliter-bar-div.bottom-div-fliter {
    margin-bottom: 0px;
    margin-top: 6px;
    padding-bottom: 0px;
    padding-top: 6px;
}
.categorie-products .product-del-box h1,
.categorie-products .price-div,
.categorie-products .addtocart-div {
    text-align: left;
}
.categorie-products .product-del-box h1 {
    min-height: 40px;
    line-height: 20px;
}
.categorie-products .price-div,
.categorie-products .addtocart-div {
    width: 45%;
    margin-right: 00px;
    display: inline-block;
    min-height: 44px;
}
.categorie-products .products-list-products .price-div,
.categorie-products .products-list-products .addtocart-div {
    width: 100%;
    min-height: inherit;
}
.categorie-products .products-list-products .addtocart-div {
    text-align: left;
}
.categorie-products .addtocart-div {
    text-align: right;
}
.categorie-products .product-del-box a:hover h1 {
    color: #1a8cc1;
    text-decoration: underline;
}
.categorie-products .product-del-box h1 a {
    color: #1a8cc1;
}
.categorie-detiles {
    margin-bottom: 10px;
}
.right-main-div {
    border-left: 1px solid #CCCCCC;
}
.products-gridview .right-main-div {
    border-left: 0px solid #CCCCCC;
}
.main-review-div {
    margin-top: 10px;
}
.main-review-div a {
    font-size: 12px;
    color: #555;
}
.write-a-review {
    padding: 0px 5px;
}
.add-to-my-wishlist {
    padding: 0px 5px;
    margin-left: 0px;
}
.products-gridview ul {
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
}
.products-gridview ul li.product-main-container {
    padding-right: 0px;
}
.products-gridview ul li.product-main-container:first-child {
    margin-left: 0px;
}
.products-gridview ul li.product-main-container:last-child {
    margin-right: 0px;
    padding-right: 0px;
}
.products-list-products ul {
    margin-left: 0px;
    padding-left: 0px;
}
.products-gridview ul li.product-main-container {
    padding-right: 0px;
}
.products-list-products ul li.product-main-container {
    margin-left: 0px;
    padding-left: 0px;
}
.products-list-products ul li.product-main-container:last-child {
    margin-right: 0px;
    padding-right: 0px;
}
.icon-main {
    display: inline-block;
}
.design-main {
    vertical-align: middle;
    margin-top: -45px
}
.view-div strong,
.pag-vag {
    margin-right: 5px;
    vertical-align: top;
}
.icon-main a:hover {
    color: #333;
}
.design-main .display {
    display: inline-block;
}
.icon-main.mouseout a {
    background-color: #ef252d;
    background-image: -moz-linear-gradient(top, #f0474d, #ef252d);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f0474d), to(#ef252d));
    background-image: -webkit-linear-gradient(top, #f0474d, #ef252d);
    background-image: -o-linear-gradient(top, #f0474d, #ef252d);
    background-image: linear-gradient(to bottom, #f0474d, #ef252d);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    border-color: #ef252d #ef252d #f0474d;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled false);
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}
.icon-main a {
    color: #333333;
    float: left;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled false);
    border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    padding: 4px 6px;
    margin-bottom: 0px;
    margin-left: 5px;
}
.icon-main span {
    padding: 0px;
    margin: 0px;
}
.quick-view-div .buy-details {
    width: 25.5%;
    padding-right: 0px;
    padding-left: 0;
    border: 1px solid #dadada;
    background: #fbfbfb;
    height: 100%;
    overflow: auto;
}
.quick-view-div .detail-page {
    padding-left: 0px;
    padding-right: 0px;
}
.quantity-box {
    width: 40px;
    margin-right: 8px;
    padding: 4px 5px;
    text-align: center;
}
.quick-view-div .image-details {
    padding: 20px 20px 5px 35px;
    width: 47%;
}
.image-details {
    overflow: hidden;
}
.quick-view-div {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.marrign-left-div {
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
}
li#itemCompany {
    margin: 3px;
    color: #fff;
    list-style: none;
    background: #505455;
    border-radius: 5px;
}
li#itemCompany a {
    color: #fff;
    padding: 3px 10px;
    display: block;
    border-right: 0px solid #999;
}
li#itemCompany:hover {
    border-radius: 5px 5px 0px 0px;
}
li#itemCompany ul {
    display: none;
    width: 100%;
    margin-top: -3px;
    position: absolute;
    z-index: 9999;
    top: 100%;
    width: 45px;
    right: 3px;
    background: #505455;
    color: #000;
    border-top: 0;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    -o-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    padding-left: 0px;
}
li#itemCompany:hover > ul {
    display: block;
    position: absolute;
}
li#itemCompany ul li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
li#itemCompany ul li a {
    text-align: left;
    background: none;
}
li#itemCompany a {
    background: url(../img/select2.png) 29px 4px no-repeat;
    text-align: center;
    padding-right: 20px;
}
li#itemCompany ul li a:hover {
    background: #006699;
}
.mailid-div {
    margin-bottom: 8px;
    position: relative;
}
.logo-div-main {
    padding-left: 0px;
}
.cart-maindiv {
    padding-right: 0px;
}
.errorMessage,
span.error,
.flash-success {
    position: absolute;
    z-index: 1030;
    display: block;
    visibility: visible;
    font-size: 13px;
    line-height: 1.4;
    max-width: 200px;
    padding: 4px 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    border-radius: 4px;
    margin-left: 3px;
    top: 21%;
    left: 101px;
    margin-top: 0px;
    border-width: 5px 0 5px 5px;
    border-left-color: #000;
    min-width: 160px
}
.flash-success {
    position: static;
    margin: 0px;
    margin: 5px 0px;
}
.register-div-main .errorMessage {
    min-width: 187px;
}
span.error {
    top: -5px;
    min-width: 150px;
    right: 0px;
    left: auto;
}
.product-items {
    position: relative;
}
.flash-error {
    top: auto;
    left: auto;
    position: static;
    max-width: 92%;
    margin-bottom: 6px;
    background: #F2DEDE;
    color: #333;
    padding: 5px 10px;
    border-radius: 4px;
}
.mailid-div input {
    width: 95%;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
}
.mailid-div input[type=checkbox],
.mailid-div input[type=radio] {
    width: auto;
}
.mailid-div.buttons input {
    border: 1px solid #1a8cc1;
    padding: 6px 25px;
    color: #fff;
    width: 80%;
}
div.mailid-div.mind-div {
    display: inline-block;
    margin-right: 15px;
    font-weight: normal;
}
div.mailid-div.mind-div label {
    font-weight: normal;
}
.large-or {
    font-size: 18px;
    margin-left: 8px;
}
div.mailid-div.mind-div input {
    margin-top: 0px;
}
.breadcrumb li .divider {
    display: none;
}
.top-content div.row.col-md-12.sp-os {
    margin-right: 0px;
    padding-right: 0px;
}
#review_report {
    margin-top: 0px;
}
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);
div.social-wrap button {
    padding-right: 45px;
    height: 35px;
    background: none;
    border: none;
    display: block;
    background-size: 35px 35px;
    background-position: right center;
    background-repeat: no-repeat;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
    border-bottom: 0px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;
}
button#facebook {
    border-color: #2a4168;
    background-color: #3e5b9a;
    display: inline-block;
    position: relative
}
button#facebook:before {
    font-family: 'socialfont';
    content: "\F020";
    position: absolute;
    right: 12px;
    top: -1px;
    font-size: 25px;
}
button#facebook:before {
    font-family: 'socialfont';
    content: "\F020";
    position: absolute;
    right: 12px;
    top: -1px;
    font-size: 25px;
}
.heading_title_sing,
.heading_title_sing a {
    font-size: 12px;
    color: #999;
    padding-top: 8px;
}
.heading_title_sing a {
    color: #428BCA;
    text-decoration: underline;
}
.register-div-newsletter .col-md-6 {
    padding-right: 0px;
}
.register-div-newsletter .col-md-4 {
    padding-top: 0px;
}
.form-control.of-divmain {
    width: 45%;
    margin-right: 9px;
}
.form-control.of-divmain.last-child {
    margin-right: 0px;
    width: 47%;
}
button#googleplus {
    border-color: #0e527c;
    background-color: #1664a0;
    text-shadow: #333 -1px -1px 0;
    display: inline-block;
    min-width: 194px;
}
button#googleplus:hover {
    border-color: #1a6c9f;
}
button#facebook:hover {
    border-color: #3c5a98
}
div.social-wrap button:active {
    background-color: #222;
}
div.social-wrap.b button {
    padding-right: 45px;
    height: 35px;
    background: none;
    border: none;
    display: block;
    background-size: 25px 25px, cover;
    background-position: 170px center, center center;
    background-repeat: no-repeat, repeat;
    border-radius: 4px;
    color: white;
    font-family: "Merriweather Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    width: 205px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: 0 4px 2px -2px gray;
    text-shadow: rgba(0, 0, 0, .4) -1px -1px 0;
}
div.social-wrap.b > .googleplus {
    background-size: 30px 30px, cover;
    background-image: url(../img/gplus.png), -webkit-gradient(linear, left top, left bottom, color-stop(1%, #353233), color-stop(100%, #1d1b1c));
    position: relative
}
div.social-wrap.b > .facebook {
    background: url(../img/facebookf.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c74c4), color-stop(100%, #3b5998));
    background-size: 25px 25px, cover;
    background-position: 170px center, center center;
    background-repeat: no-repeat, repeat;
}
div.social-wrap.b button em {
    font-size: 18px;
    letter-spacing: 1px;
    font-family: "Times New Roman";
    margin-right: 4px;
    margin-left: 4px;
}
div.social-wrap.c button {
    padding-left: 35px;
    padding-right: 0px;
    height: 35px;
    background: none;
    border: none;
    display: block;
    background-size: 25px 25px, cover;
    background-position: 10px center, center center;
    background-repeat: no-repeat, repeat;
    border-radius: 4px;
    color: white;
    font-family: "Merriweather Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    width: 205px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: 0 4px 2px -2px gray;
    text-shadow: rgba(0, 0, 0, .4) -1px -1px 0;
}
div.social-wrap.c > .googleplus {
    background-size: 30px 30px, cover;
    background-image: url(../img/gplus.png), -webkit-gradient(linear, left top, left bottom, color-stop(1%, #353233), color-stop(100%, #1d1b1c));
}
div.social-wrap.c > .facebook {
    background: url(../img/facebookf.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c74c4), color-stop(100%, #3b5998));
    background-size: 25px 25px, cover;
    background-position: 10px center, center center;
    background-repeat: no-repeat, repeat;
}
div.social-wrap.c > .twitter {
    background-image: url(../img/twitterbird.png), -webkit-gradient(linear, left top, left bottom, color-stop(1%, #00aced), color-stop(99%, #00a9ff));
}
div.social-wrap.c button em {
    font-size: 18px;
    letter-spacing: 1px;
    font-family: "Times New Roman";
    margin-right: 4px;
    margin-left: 4px;
}
ul.sm-wrap {
    list-style-type: none;
    padding: 0px;
}
ul.sm-wrap li {
    font-family: "Helvetica", sans-serif;
    font-size: 11px;
    margin-bottom: 10px;
    padding-left: 20px;
    background-size: 15px 15px;
    background-repeat: no-repeat;
}
ul.sm-wrap li#facebook-sm {
    background-image: url(../img/facebook-icon.png);
}
ul.sm-wrap li#twitter-sm {
    background-image: url(https://twitter.com/images/resources/twitter-bird-white-on-blue.png);
}
ul.sm-wrap li#gplus-sm {
    background-image: url(http://i.tinyuploads.com/KBZc6n.png);
}
ul.sm-wrap a {
    text-decoration: none;
}
ul.sm-wrap li a {
    padding: 5px 10px;
}
ul.accordion-list {
    padding: 0px;
    list-style: none;
    margin: 0px;
}
ul.accordion-list li {
    padding: 5px 15px;
    border-bottom: 1px solid #E4E4E4;
    position: relative;
}
.accordion-list {
    background: #F0F0F0;
}
ul.accordion-list li a {
    color: #666;
    cursor: pointer
}
ul.accordion-list li a:before {
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 8px;
    display: inline;
    color: #666;
    padding-right: 8px;
}
ul.accordion-list li:hover {
    background: #eaebeb;
}
ul.accordion-list li:hover a {
    color: #428bca;
}
.single-banner .sp-image {
    margin-bottom: 10px;
}
.img-side-contet {
    margin-right: 8px;
    float: left;
}
.text-right-dng {
    text-align: right;
}
.inner-cart-lists .img-side-contet {
    margin-right: 3px;
    width: 30%;
}
.total-color-dis {
    color: #0e76bb;
    font-size: 19px;
    font-weight: bold;
}
.main-order-detailes {
    border: 1px solid #CCCCCC;
    border-bottom: 3px solid #0e76bb;
}
.main-order-detailes thead {
    background: #E0E0E0
}
.close-div-main i.glyphicon {
    color: #fff;
    font-size: 16px;
}
.product-dispaying {
    position: relative;
    padding: 5px;
    border-bottom: 1px solid #111;
    width: 100%;
    display: table
}
.inner-cart-lists {
    background: #555;
    border: 1px solid #000000;
    color: #FFFFFF;
    text-align: left;
    margin-right: -1px;
}
.inner-cart-lists .padding-msg {
    padding: 5px;
}
.product-dispaying input {
    width: 40px;
}
.product-dispaying h5,
.product-color {
    font-size: 13px;
    color: #fff;
    text-align: left;
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
}
.inner-cart-lists .close-div-main i.glyphicon {
    color: #888;
    margin: 0px;
    padding: 0px;
    top: 10px;
    left: -5px;
    font-size: 18px;
    font-weight: 400;
    color: #f5f5f5;
}
.product-wishlist-box {
    padding-top: 15px;
}
.qut-div {
    text-align: left;
}
.inner-cart-lists .close-div-main {
    width: 28px;
    height: 28px;
    padding: 1px 2px;
    opacity: 1.8;
    top: 3px;
    right: 6px;
}
.inner-cart-lists .price-div {
    color: #fff;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
}
.inner-cart-lists .col-md-9 {
    padding: 0px;
    margin-left: 3px;
}
.cart-prices {
    background: #333333;
    text-align: left;
}
.cart_block .cart-prices .cart-prices-line {
    border-bottom: 1px solid #515151;
    padding: 7px 0;
}
#header .cart_block .price,
.cart-prices .cart-prices-line span {
    color: white;
}
.cart_block .cart-prices .cart-prices-line {
    overflow: hidden;
    border-bottom: 1px solid #515151;
    padding: 7px 0;
}
span.price.cart_block_shipping_cost.ajax_cart_shipping_cost {
    color: white;
}
.inner-cart-lists .cart-buttons {
    background: #111;
    padding: 8px;
    margin-bottom: 0px;
}
div.cart-prices-line.first-line,
div.cart-prices-line.last-line {
    border-bottom: 1px solid #CCCCCC;
    padding: 3px 6px;
    font-size: 13px;
    font-weight: bold;
}
.full-width {
    width: 100%;
}
div.cart-prices-line.last-line {
    border: 0px;
}
.product-detailes-main {
    padding: 0px;
    margin: 0px;
    border: 4px solid #e3e3e3;
    display: table;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.product-detailes-main ul,
.product-detailes-main ul li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.product-detailes-main ul.col-md-3 {
    margin: 0px;
    padding: 0px;
}
.product-detailes-main ul.col-md-2 li,
.img-detailes-man {
    border: 1px solid #CCCCCC;
    margin: 2px;
}
.img-detailes-man {
    margin-left: 1px;
}
.forgot-div-main {
    border: 1px solid #CCCCCC;
    padding: 0px;
    margin: 00px;
}
.allreviews-div a,
.write-review-div a {
    color: #1A8CC1;
    text-decoration: underline;
}
.write-review-div {
    margin-top: 15px;
}
.forgot-div-main h5 {
    border-bottom: 1px solid #CCCCCC;
    color: 11px;
    padding: 12px;
    font-size: 13px;
}
.forgot-div-main-padding {
    padding: 10px;
    margin: 0px;
}
input.forgot-div-main {
    padding: 5px 10px;
}
.oder-main-div .table>tbody>tr>td {
    border: 0px;
}
.effect8 {
    background: #fff;
    position: relative;
    border: 1px solid #e5e5e5;
}
.oder-main-div .list-view {
    margin-top: 0px;
    padding-top: 0px;
}
.effect8:before,
.effect8:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 12px #929292;
    -moz-box-shadow: 0 0 12px #929292;
    box-shadow: 0 0 12px #929292;
    top: 60px;
    bottom: 40px;
    left: 0;
    right: 0;
}
.effect8:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}
.design-order-line {
    border-right: 1px solid #d1d1d1;
    margin-bottom: 10px;
}
.design-orde {
    margin-right: 6px;
    border-right: 1px solid #CCCCCC;
    padding-right: 8px;
}
textarea.form-control {
    width: 95%;
}
.form-control {
    width: 95%;
}
.address-list-design {
    background: #EAEAEA;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}
.manufavturer-banner .sp-image {
    border: 1px solid #CCCCCC;
    padding: 1px;
    margin-bottom: 6px;
}
.product-list-lable {
    position: absolute;
    left: -50px;
    top: 0px;
    width: 50px;
    height: 100%;
    border: 1px solid #CCCCCC;
    display: none;
    background: #fff;
}
.product-list-lable img {
    padding: 5px;
    width: 50px;
    height: 60px;
}
.product-list-lable a {
    display: block;
    margin-bottom: 5px;
}
.product-image-container:hover .product-list-lable {
    display: block;
}
.rating-div img {
    margin-right: 3px;
}
.product-name-compare-div {
    position: relative;
}
.close-btn.copare {
    width: 18px;
    height: 18px;
    padding: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
}
.close-btn.copare i {
    font-size: 12px;
}
.product-detailes-main {
    border: 1px solid #CCCCCC;
}
.zoomWindowContainer {
    width: auto!important;
    display: table;
    height: 100%;
    overflow: hidden;
}
.data-review {
    font-size: 12px;
}
.table.review-product-div > tbody > tr > td {
    border-top: 0px;
}
.tab-main.color-div {
    border-bottom: 3px solid #1a8cc1;
}
.tab-main.color-div a,
.tab-main.actave a {
    color: #1a8cc1;
}
.right-divbtn {
    text-align: right;
}
.checkout_options_div {
    margin-top: 20px;
    border-radius: 4px;
}
.tab-main {
    border-bottom: 3px solid #CCCCCC;
    font-size: 16px;
    padding-bottom: 8px;
}
.tab-main a {
    color: #333;
}
.tab-main:hover a {
    text-decoration: none;
    color: #1a8cc1;
}
.checkout-right-div {
    padding: 0px;
    padding-left: 15px;
}
.checkout_main_div {
    padding-right: 0px;
}
.table-online-div {
    border: 1px solid #CCCCCC;
}
.border-line-div {
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}
.table-online-div {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}
.total-div-main {
    font-size: 18px;
    color: #0099CC;
}
.prodct-div-main td {
    background: #f2f2f2;
}
.forgot-link-div {
    float: right;
}
.table-online-main td {
    text-align: right;
}
.table-online-midel,
.table-online-right {
    text-align: center;
}
.chackout-div-Billing .row,
.chackout-div-shipping .row {
    margin-bottom: 6px;
}
.border-line-div input.btn-large {
    padding: 8px 25px;
    border: 1px solid transparent;
}
.table-online-div .prodct-div-main th {
    background: #E2E2E2;
}
.order-list-div .table>tbody>tr>td {
    border-top: 0px;
}
.order-list-div .table {
    border: 1px solid #CCCCCC;
}
.product-name-compare-div {
    position: relative;
}
.close-btn.copare {
    width: 19px;
    height: 19px;
    position: absolute;
    right: 5px;
    top: 5px;
    padding-left: 4px;
    border-radius: 12px;
    background: #CCCCCC;
}
.close-btn.copare i {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}
.compare_div_main {
    border: 1px solid #CCCCCC;
}
.table.compare_div_main tr td {
    border-left: 1px solid #CCCCCC;
}
.table.compare_div_main thead tr td {
    background: #F1F1F1
}
.table.compare_div_main tbody tr:nth-child(odd) td {
    background: #F8F8F8
}
.compare_div_main thead a {
    font-weight: bold;
}
.compare_div_main td {
    font-size: 12px;
}
.design-box-mian {
    border-radius: 4px;
    padding: 10px;
    background: #F4F4F4;
    border: 1px solid #CCCCCC;
}
.Billing-info-div,
.shipping-info-div {
    margin-bottom: 16px;
}
.chackout-div-Billing,
.chackout-div-shipping {
    display: none;
}
.close-div {
    padding: 0px 6px;
    font-size: 16px;
}
h5.header-Existing-main,
h5.shipping-header-Existing-main {
    border-bottom: 3px solid #1a8cc1;
    margin-bottom: 12px;
    padding-bottom: 15px;
}
.billing-main-btn {
    margin-bottom: 10px;
}
.clinkPagerCss ul.btn-group {
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
}
.navgasan-bar .btn-group .btn.active {
    background-color: #ffffff;
    background-image: -moz-linear-gradient(top, #e6e6e6, #ffffff);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #e6e6e6, #ffffff);
    background-image: -o-linear-gradient(top, #e6e6e6, #ffffff);
    background-image: linear-gradient(to bottom, #e6e6e6, #ffffff);
}
.clinkPagerCss ul.btn-group li {
    list-style: none;
    display: inline-block;
}
#notification {
    padding: 0px;
}
.alert {
    margin-bottom: 0px;
    padding: 9px 15px;
    border-radius: 0px;
    text-align: center;
    font-size: 14px;
    text-transform: capitalize;
}
.alert .close {
    right: 10px;
    top: 6px;
}
.notification-msg-div {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;
}
.table.review-product-div table td,
.table.review-product-div table th {
    padding: 0px;
}
.names-on-brands {
    border: 1px solid #666;
    border-left: 0px;
    border-right: 0px;
}
.names-on-brands {
    padding: 10px 1px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.names-on-brands .names-itam {
    font-size: 16px;
    color: #666666;
    font-weight: bold;
    margin-right: 15px;
}
ul.brands-div-main li {
    list-style: none;
    margin-bottom: 6px;
}
ul.brands-div-main {
    margin-left: 0px;
    padding-left: 0px;
}
.names-on-numbers {
    border-bottom: 1px dotted #999;
    margin-bottom: 15px;
}
.img-blouse {
    padding: 5px;
    border: 3px solid #CCC;
}
.modal {
    overflow: inherit;
    border: 3px solid #CCC;
}
.main-shopping-table .table>tbody>tr.product-count:nth-of-type(even) td {
    background: #F9F9F9;
}
.popup-main-div {
    padding: 18px 5px;
}
a.popup-link-div {
    text-decoration: underline;
    color: #006699;
    cursor: pointer;
}
a.popup-link-div:hover {
    text-decoration: none;
}
.picer-div-window .product-select {
    padding: 0px 0px;
    font-size: 13px;
    line-height: 1.42857;
    color: #9C9B9B;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #D6D4D4;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    text-transform: capitalize;
}
label.attribute_label {
    width: 100%;
    margin-right: 5px;
    display: inline-block;
}
.picer-div-window .option,
.product-items {
    margin-bottom: 10px;
    position: relative;
}
.quick-view-div .right-detalies {
    min-height: 580px;
    border-bottom: 0px;
    height: 100%;
}
.buy-details {
    border: 1px solid #CCC;
    padding: 0px;
}
.thumbnail,
.img-thumbnail {
    margin-bottom: 0px;
    border: 0px;
}
.slider-div {
    margin-bottom: 15px;
}
.slider-div-main ul a {
    cursor: pointer;
}
#Customer_gender input,
#Customer_gender label,
#Customer_newsletter input,
#Customer_newsletter label {
    margin-right: 5px;
}
.sub-categorie-detiles {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.sub-categorie-detiles ul {
    padding: 10px 0px;
    margin: 0px;
    list-style: none;
}
.sub-categorie-detiles ul li {
    margin: 0px;
    list-style: none;
}
.sub-categorie-detiles ul li img {
    border: 1px solid #CCC;
}
.sub-catgor-list {
    position: relative;
}
.sub-catgor-list img {
    width: 100%;
}
.sub-catgor-list:hover .heading-sub-cate-name {
    display: block;
}
.heading-sub-cate-name {
    position: absolute;
    bottom: 0px;
    height: 40px;
    padding: 10px;
    background: #333;
    width: 86%;
    color: #fff;
    display: none;
}
.heading-sub-cate-name a {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}
.site-box-inner ul {
    margin: 0px;
    padding: 0px;
}
.site-box-inner ul li {
    list-style: none;
    margin-left: 15px;
}
.site-box-inner {
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.site-box-inner ul li a {
    font-size: 13px;
    line-height: 26px;
}
.site-box-inner ul li a:before {
    content: "\e080";
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-size: 8px;
    padding-right: 10px;
}
.heading-box.line-one h2 {
    border-bottom: 1px solid #333;
    font-size: 15px;
}
.sitemap-box {
    padding-top: 15px;
}
.row.controls {
    margin-bottom: 15px;
}
.row.controls .form-control {
    width: 100%;
}
.location-divmain {
    margin-bottom: 15px;
    width: 100%;
    display: table;
}
.Shippingmethod-line {
    border-right: 1px solid #CCC;
}
.table.shippingmethod-table>tbody>tr>td {
    border: 0px;
    border-bottom: 1px solid #CCC;
}
.agree-link-main a {
    text-decoration: underline;
}
.agree-link-main input {
    display: inline;
    margin-top: 9px;
    margin-left: 10px;
}
.table.shippingmethod-table>tbody>tr:nth-child(2n+1)>td {
    background: #f4f4f4;
}
.table.shippingmethod-table>tbody>tr:hover>td {
    background: #eeeded
}
.ui-tooltip.ui-widget.ui-corner-all.ui-widget-content {
    border: 0px;
    background: none;
    position: relative;
    display: none;
}
.Shippingmethod-line {
    border-right: 1px solid #CCC;
}
.table.shippingmethod-table>tbody>tr>td {
    border: 0px;
    border-bottom: 1px solid #CCC;
}
.agree-link-main a {
    text-decoration: underline;
}
.table.shippingmethod-table>tbody>tr:nth-child(2n+1)>td {
    background: #f4f4f4;
}
.table.shippingmethod-table>tbody>tr:hover>td {
    background: #eeeded
}
.slider-div {
    margin-bottom: 10px;
}
.ui-tooltip.ui-widget.ui-corner-all.ui-widget-content {
    border: 0px;
    background: none;
    position: relative;
    display: none;
}
. {
    font-family: 'socialfont';
}
.product-selects {
    margin-bottom: 10px;
}
.brends-tital-divs {
    width: 2%;
    font-weight: bold;
}
.rating-div img {
    width: auto;
}
#cart_drop li {
    float: left;
    display: block;
    position: relative;
    z-index: 500;
    margin: 0 1px;
}
#cart_drop ul {
    position: absolute;
    right: 0;
    display: none;
    margin: 0 0 0 -1px;
    padding: 0;
    list-style: none;
}
#cart_drop ul li {
    width: 230px;
    float: left;
}
.scroll-text ul {
    width: 100%;
    height: 100px;
    overflow: hidden;
    margin: 0;
}
.scroll-text ul li {
    height: 1.5em;
}
.scroll-img {
    border: 0px solid red;
    width: 90%;
    height: auto;
    overflow: hidden;
    font-size: 0;
    margin: 0px auto;
}
.scroll-img ul {
    width: 90%;
    margin: 0;
    overflow: hidden;
    height: 375px;
}
.button#demo5-backward {
    width: 0px;
}
button#demo5-forward,
button#demo5-backward {
    position: absolute;
    left: 16px;
    top: 45%;
    padding: 5px;
}
button#demo5-forward {
    right: 0px;
    left: auto;
}
.scroll-img ul li {
    display: inline-block;
    margin: 10px 0 10px 10px;
}
#demo5-btn {
    width: 100%;
    position: absolute;
    top: 45%;
    left: 0%;
    padding-top: 10px;
}
.scroll-img .col-md-1,
.scroll-img .col-md-2,
.scroll-img .col-md-3,
.scroll-img .col-md-4,
.scroll-img .col-md-5,
.scroll-img .col-md-6,
.scroll-img .col-md-7,
.scroll-img .col-md-8,
.scroll-img .col-md-9,
.scroll-img .col-md-10,
.scroll-img .col-md-11,
.scroll-img .col-md-12 {
    width: 250px
}
.scroll-img {
    margin-bottom: 26px;
}
.content-page {
    padding: 15px;
}
.content-page p {
    text-align: justify;
}
.content-page h3,
.content-page h2,
.content-page h1,
.content-page h4,
.content-page h5,
.content-page h6 {
    margin-bottom: 15px;
}
.content-page h3,
.content-page h2 {
    font-size: 18px;
}
ul.categories-list li {
    list-style: none;
}
.categories-list .glyphicon {
    font-size: 10px;
}
ul.categories-list li a {
    padding: 5px 3px 5px 4px;
    display: block;
    border-bottom: 1px solid #CCCCCC;
    font-size: 13px;
}
ul.categories-list li:last-child a {
    border-bottom: 0px;
}
ul.categories-list li .style-sub ul,
ul.categories-list li .style-sub ul ul {
    margin-left: 5px;
}
ul.categories-list li ul a:hover {
    background: #F0F0F0;
}
ul.categories-list li a:hover {
    background: #F8F8F8
}
ul.categories-list li .style-sub ul ul {
    margin-left: 15px;
}
ul.categories-list li .style-sub {
    background: #F0F0F0;
    padding: 3px;
    position: absolute;
    right: -240px;
    min-width: 250px;
    top: 0px;
    z-index: 9;
    display: none;
}
ul.categories-list li {
    position: relative;
}
ul.categories-list li:hover .style-sub {
    display: block;
}
.categories-list {
    background: #F0F0F0;
}
@media (max-width: 1200px) {
    .carousel-caption h4 {
        font-size: 36px;
    }
    .carousel-caption p {
        font-size: 15px;
    }
}
@media (max-width: 988px) {
    .col-md-3 {
        float: left;
        width: 33.33333%;
    }
    .col-md-4 {
        float: left;
        width: 33.33333333%;
    }
    div.left-wrapper.col-md-3 {
        width: 100%;
        padding: 0px;
        margin-bottom: 10px;
    }
    div.right-wrapper.col-md-3 {
        width: 100%;
    }
    .product-del-box {
        width: 100%;
    }
    .top-nav.language-div,
    .top-nav.currency-div {
        display: inline-block;
    }
    .top-nav.language-div,
    .top-nav.currency-div {
        width: 9%;
    }
}
@media (max-width: 960px) {
    .animate-container:hover .animate-div-wapper {
        margin-bottom: 10px;
        width: 96%
    }
    .carousel-caption h4 {
        font-size: 32px;
    }
    .language-div,
    .currency-div {
        text-align: right
    }
    li#itemCompany a {
        background: url(../img/select2.png) 39px 3px no-repeat;
    }
    .social-icons {
        text-align: left
    }
    .top-nav {
        padding: 0px;
        width: 100%;
        margin-top: 6px;
    }
    .modal {
        left: 41%
    }
    .carousel-caption h4 {
        font-size: 40px;
    }
    .top-nav.nav>li {
        display: inline-block;
    }
    .social-icons.pull-right {
        float: none!important
    }
    .top-nav .navbar-nav > li > a {
        padding: 0px 8px;
    }
    .language-div,
    .currency-div {
        text-align: left
    }
    .login-cms-links li,
    .accoutnt-div li {
        display: inline-block;
    }
    .top-nav.language-div,
    .top-nav.currency-div {
        width: 12%;
    }
    .top-nav ul {
        margin-left: -5px;
    }
    .navbar-nav {
        margin-left: 0px;
    }
    .top_header_main {
        text-align: center
    }
    .right-detalies {
        margin-top: 64px;
    }
    .btn-main-left-padding {
        width: 14%;
    }
    .price-input-box span.price-input {
        width: 38%;
    }
    .quick-view-div {
        overflow-y: auto;
    }
    .quick-view-div .product-details {
        width: 100%;
    }
    .quick-view-div .image-details {
        width: 100%;
    }
    div.panel.col-md-10 {
        width: 66%;
        float: right;
    }
    .quick-view-div .buy-details {
        width: 100%;
    }
    div.col-md-2.style-div {
        width: 25%;
        float: left;
    }
    .navgasan-bar {
        margin-bottom: 10px;
    }
    .categorie-products .product-del-box h1,
    .categorie-products .price-div,
    .categorie-products .addtocart-div,
    .product-del-box {
        text-align: center;
    }
    .top-nav ul {
        text-align: center;
    }
    li#itemCompany {
        text-align: left
    }
    li#itemCompany ul {
        left: 3px;
    }
    .navbar-nav>li:hover > ul.submenu-div {
        width: 100%;
    }
    .left-div-main {
        text-align: center;
        margin: 0px auto;
        width: 45%;
        float: none;
        text-align: center;
    }
    ul.filter-list {
        text-align: left
    }
    .order-main-div,
    .social-icons,
    .header-main,
    .top-nav {
        text-align: center;
        margin-bottom: 6px;
        float: none
    }
    .col-xs-1,
    .col-sm-1,
    .col-md-1,
    .col-lg-1,
    .col-xs-2,
    .col-sm-2,
    .col-md-2,
    .col-lg-2,
    .col-xs-3,
    .col-sm-3,
    .col-md-3,
    .col-lg-3,
    .col-xs-4,
    .col-sm-4,
    .col-md-4,
    .col-lg-4,
    .col-xs-5,
    .col-sm-5,
    .col-md-5,
    .col-lg-5,
    .col-xs-6,
    .col-sm-6,
    .col-md-6,
    .col-lg-6,
    .col-xs-7,
    .col-sm-7,
    .col-md-7,
    .col-lg-7,
    .col-xs-8,
    .col-sm-8,
    .col-md-8,
    .col-lg-8,
    .col-xs-9,
    .col-sm-9,
    .col-md-9,
    .col-lg-9,
    .col-xs-10,
    .col-sm-10,
    .col-md-10,
    .col-lg-10,
    .col-xs-11,
    .col-sm-11,
    .col-md-11,
    .col-lg-11,
    .col-xs-12,
    .col-sm-12,
    .col-md-12,
    .col-lg-12 {} .box-footer .heading-box h2,
    .content-module,
    .products-list-products .main-review-div,
    .shipping-icon,
    .contact-module,
    .payment-module {
        text-align: center;
        margin-bottom: 6px;
    }
    .right-main-div {
        border-left: 0px;
    }
    .follow-module {
        width: 40%;
        float: none;
        text-align: center;
        margin: auto;
    }
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .products-gridview ul li.product-main-container {
        margin-bottom: 10px;
    }
    .main-review-div {
        margin: 10px auto;
        width: 61%;
    }
    .main-shopping-div thead {
        display: none;
    }
    .main-shopping-div tbody tr {
        border-bottom: 1px solid #ccc;
    }
    .main-shopping-div tbody tr td {
        display: block;
        width: 100%;
        border: 0px;
    }
    .order-now-div {
        width: auto;
    }
    .product-image-container img {
        width: 100%;
    }
    .single-banner {
        padding: 0px 0px
    }
    .products-list-products .categorie-products .product-del-box h1 {
        text-align: left;
    }
    .categorie-products .rating-div {
        position: static
    }
}
@media (max-width: 658px) {
    .follow-module {
        width: 90%;
        text-align: center
    }
    .carousel-caption {
        left: 24px;
        text-align: left;
        top: 15px;
        width: 70%;
    }
    .carousel-caption h4 {
        font-size: 19px;
    }
}
@media (max-width: 458px) {
    .modal {
        left: 48%
    }
    .mailid-div input#LoginForm_password {
        width: 94%;
        margin-bottom: 10px;
    }
    .col-md-3 {
        float: none;
        width: auto;
    }
    .col-md-4 {
        float: none;
        width: auto;
    }
    .animate-div-wapper ul {
        min-height: 180px;
    }
}
@media (max-width: 358px) {
    .modal {
        left: 87%
    }
    .pull-left.copyright {
        width: 100%;
        text-align: center
    }
    div.slider-div {
        display: none;
    }
}
@media (max-width: 328px) {
    .modal {
        left: 87%
    }
}
@media (max-width: 268px) {
    .modal {
        left: 91%
    }
}
.aboutdiv{
  margin-top:2%;
  text-align:justify;
  font-family: Times New Roman,Times, serif;
  font-size: large;"
}
.menuheader:{
      margin-top: 0;
      margin-bottom: 10px;
      font-family: 'Open Sans';
      font-size: 24px;
      line-height: 30px; font-weight: 900;
      color: #f99d1c;"
}
